<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Theater Booking</title>
</head>
<body>
    <h1>Theater Booking</h1>
    <h2>Seat availability</h2>

    <form action="/checkAvailability" th:object="${bean}" method="post">
        <p>Check if seat number
            <select th:field="*{selectedSeatNum}">
                <option th:each="num : ${bean.seatNums}" th:value="${num}" th:text="${num}"></option>
            </select>
             in row
            <select th:field="*{selectedSeatRow}">
                <option th:each="row : ${bean.seatRows}" th:value="${row}" th:text="${row}"></option>
            </select>
             is available <input type="submit"></input>
        </p>
    </form>

    <p th:text="${bean.result}"></p>
</body>
</html>